*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 512;
    background-color: oklab(25.856% 0.00499 -0.13293 / 0.971);
}

#sect_with_buttons{
    font-family: "Sigmar", sans-serif;
    text-align: center;
    max-width: 500px;
    color: white;
    margin-top: 100px;
    line-height: 1;
}

#text_section{
    font-family: "DM Sans", sans-serif;
    margin-top: 2rem;
    text-align: center;
}

#button_windows{
    margin-top: 1rem;
    padding: 12px 70px;
    border-radius: 1rem;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

#button_discord_browser{
    color: white;
    background-color: rgb(88, 68, 176);
    margin-top: 1rem;
    padding: 10px 56px;
    border-radius: 1rem;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;

}

.discord_card{
    font-family: "Sigmar", sans-serif;
    max-width: 450px;
    color: white;
    background-color: rgba(88, 83, 114, 0.914);
    line-height: 1;
    border: none;
    border-radius: 20px;
    padding: 50px;
    margin-top: 3rem;
    margin-left: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    
    
} 

#text_section_two{
    font-family: "DM Sans", sans-serif;
    margin-top: 2rem;
    


}
    
video{
    width: 85%;
    height: 100%;
    margin-top: 1rem;
    border-radius: 20px;
}    

  
    









